![Königsweg Logo](../img/koenigsweg_150.png)

<span style="font-size: small;float: right;">&copy; 2015-2018 Alexander C.S. Hendorf, <a href="http://koenigsweg.com">Königsweg GmbH</a>, Mannheim </span>

---

# Data Wrangling and Visualisation with Juypter and Pandas

---

# Reading and Writing Data Across Multiple Formats

---

A practical start into Pandas.

In [1]:
import pandas as pd

*import as pd* is a widely used convention

in our data directory we have some files stored from the *Blooth store*, *let's import one*!

In [2]:
!pwd

/Users/hendorf/code/pydata-pandas-workshop/notebooks

In [3]:
!ls ../data

blooth_sales_data.csv                   blooth_sales_data_clean.csv
blooth_sales_data.html                  blooth_sales_data_clean.xlsx
blooth_sales_data.json                  blooth_sales_data_clean_1.csv
blooth_sales_data.xlsx                  blooth_sales_data_clean_2.csv
blooth_sales_data_2.csv                 blooth_sales_data_clean_3.csv
blooth_sales_data_2.json                sales_data_json_exported.xlsx
blooth_sales_data_big.json              sampledf.json
blooth_sales_data_big.json.parquet.gzip temp.csv
blooth_sales_data_big.xlsx

In [4]:
sales_data = pd.read_csv('../data/blooth_sales_data.csv')

### Let's explore our data set

In [5]:
pd.set_option('display.max_rows', 10000)  # change presets for data preview
sales_data

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.156566,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.156596,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.156618,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.156638,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.156657,Harry Potter book,4,25.69
5,Weldon,1953-03-17,Network Application Co,2016-07-22 13:48:03.156678,Lipitor,1,11.22
6,Sung,1977-10-23,Omega Pacific Future Incorporated,2016-07-09 13:48:03.156698,PlayStation,25,294.90
7,Emily,1982-07-02,Medicine Incorporated,2016-07-16 13:48:03.156717,Thriller record,5,18.27
8,Cornell,1963-07-02,Technology Direct Star Limited,2016-07-08 13:48:03.156735,Rubik’s Cube,35,15.98
9,Ervin,1977-10-14,Provider Agency,2016-07-19 13:48:03.156754,Star Wars,24,11.50
10,Odis,1985-07-05,Technology International,2016-07-15 13:48:03.156772,Star Wars,27,8.09
11,Cornell,1963-07-02,Technology Direct Star Limited,2016-07-20 13:48:03.156791,iPad,12,368.98
12,Kelli,1982-05-10,Building Construction Group,2016-07-13 13:48:03.156810,Corolla,43,24870.63
13,Rosalina,1967-10-24,Software Group,2016-07-09 13:48:03.156829,PlayStation,43,242.63
14,Tracy,1984-11-29,Hill Pacific Analysis Co,2016-07-22 13:48:03.156847,iPad,41,646.14
15,Marion,1962-12-04,Virtual Limited,2016-07-11 13:48:03.156866,Corolla,7,23570.41
16,Doretha,1969-08-08,Industries Systems Bell Group,2016-06-30 13:48:03.156885,Star Wars,9,11.85
17,Zelma,1984-01-14,Medicine Inc,2016-07-06 13:48:03.156909,PlayStation,15,290.46
18,Galen,1992-02-02,Construction Data Agency,2016-07-13 13:48:03.156959,Thriller record,8,18.64
19,Marcia,1952-10-17,Graphics Systems Corporation,2016-07-15 13:48:03.156996,Harry Potter book,20,26.79
20,Alaina,1984-05-30,Advanced Resource LLC,2016-07-26 13:48:03.157014,Harry Potter book,26,33.48
21,Leigh,1993-08-01,South Consulting Corporation,2016-07-10 13:48:03.157033,PlayStation,11,265.01
22,Larry,1980-10-15,Atlantic Incorporated,2016-07-10 13:48:03.157053,Rubik’s Cube,17,15.90
23,Chet,1980-12-18,Vision Speed International,2016-07-15 13:48:03.157071,iPhone,44,500.83
24,Lottie,1981-08-08,Building Research Frontier LLC,2016-07-02 13:48:03.157090,Rubik’s Cube,17,18.07
25,Elyse,1982-12-24,General Corporation,2016-07-09 13:48:03.157109,Harry Potter book,22,17.07
26,Ron,1978-12-13,Vision Inc,2016-07-11 13:48:03.157130,PlayStation,13,206.32
27,Robbin,1979-12-01,Interactive Net LLC,2016-07-15 13:48:03.157151,Corolla,18,22280.90
28,Dana,1984-07-11,Net Speed Interactive Incorporated,2016-06-30 13:48:03.157170,Corolla,44,20103.97
29,Anton,1973-03-26,Universal Application Speed Inc,2016-07-09 13:48:03.157188,PlayStation,37,260.43
30,Ellsworth,1979-03-18,Application Systems Group,2016-07-05 13:48:03.157207,Harry Potter book,36,18.67
31,Daniel,1978-03-05,Studio East Industries,2016-07-17 13:48:03.157226,banana,6,10.00
32,Melodie,1952-01-20,Source Atlantic Speed LLC,2016-07-06 13:48:03.157245,Harry Potter book,20,12.99
33,Merrill,1978-06-07,Star Technology Industries,2016-06-30 13:48:03.157264,PlayStation,28,299.31
34,Rashad,1981-08-12,General Contract Corporation,2016-07-14 13:48:03.157283,iPhone,47,871.32
35,Cornell,1963-07-02,Technology Direct Star Limited,2016-07-12 13:48:03.157301,Lipitor,8,10.66
36,Jody,1979-08-10,Star Digital Speed Organization,2016-07-21 13:48:03.157320,Thriller record,41,13.64
37,Carmelo,1982-04-07,Max Future Net Group,2016-07-21 13:48:03.157339,Thriller record,22,17.00
38,Annette,1976-03-24,East People Co,2016-07-06 13:48:03.157358,Star Wars,40,11.98
39,Jackie,1956-06-27,Frontier Graphics Resource LLC,2016-07-10 13:48:03.157377,PlayStation,50,283.83
40,Robbin,1980-12-17,Virtual Resource Inc,2016-07-20 13:48:03.157396,Lipitor,37,10.70
41,Isreal,1979-06-24,Pacific International,2016-07-17 13:48:03.157414,iPad,17,451.08
42,Madge,1972-02-04,Frontier Alpha Future Co,2016-07-02 13:48:03.157433,Lipitor,17,11.41
43,Raymond,1981-07-07,Medicine Graphics Industries,2016-07-15 13:48:03.157451,PlayStation,13,284.73
44,Abdul,1979-01-29,Architecture Incorporated,2016-07-19 13:48:03.157470,Star Wars,2,11.82
45,Sung,1977-10-23,Omega Pacific Future Incorporated,2016-07-12 13:48:03.157489,Lipitor,12,10.75
46,Edward,1974-11-16,Analysis Technology LLC,2016-07-01 13:48:03.157507,banana,46,10.00
47,Aurora,1977-09-23,Design Resource Future Inc,2016-07-05 13:48:03.157528,Star Wars,47,11.41
48,Jimmie,1965-06-04,Star Limited,2016-07-03 13:48:03.157548,iPad,30,1079.37
49,Collin,1985-01-23,Venture Industries,2016-07-09 13:48:03.157567,Rubik’s Cube,40,17.25
50,Vickie,1980-05-29,Source Industries Alpha Co,2016-06-30 13:48:03.157586,Lipitor,32,11.63
51,Gabriela,1994-12-20,Solutions Software Pacific Corporation,2016-06-30 13:48:03.157604,Rubik’s Cube,19,18.06
52,Demarcus,1982-02-21,Speed West Network International,2016-07-19 13:48:03.157623,iPad,13,1085.07
53,Jamaal,1983-06-22,Data Industries Organization,2016-07-23 13:48:03.157641,Corolla,22,24413.23
54,Shellie,1953-08-09,Studio Corporation,2016-07-26 13:48:03.157660,Corolla,47,22244.95
55,Rudolph,1959-10-15,Network Software West Inc,2016-07-21 13:48:03.157678,iPhone,13,445.88
56,Waldo,1987-04-12,Telecom General Alpha Organization,2016-07-02 13:48:03.157697,Lipitor,25,11.17
57,Angie,1979-03-19,Software Resource Incorporated,2016-07-12 13:48:03.157716,PlayStation,22,203.76
58,Esteban,1983-08-21,Net LLC,2016-07-12 13:48:03.157735,iPad,39,1026.60
59,Neva,1996-05-27,Design Agency,2016-07-01 13:48:03.157754,Lipitor,33,10.82
60,Zelma,1984-01-14,Medicine Inc,2016-07-10 13:48:03.157773,Rubik’s Cube,45,18.34
61,Larry,1980-10-15,Atlantic Incorporated,2016-07-17 13:48:03.157791,PlayStation,29,297.79
62,Marguerite,1968-11-15,Hill Industries Advanced Organization,2016-07-20 13:48:03.157810,iPad,3,346.36
63,Kate,1985-06-29,Interactive Industries,2016-07-24 13:48:03.157830,Corolla,25,20534.61
64,Shiela,1976-03-28,North Incorporated,2016-07-10 13:48:03.157848,Harry Potter book,15,10.58
65,Ladonna,1974-12-14,West Building Digital Limited,2016-07-18 13:48:03.157867,Thriller record,31,13.14
66,Antonio,1987-01-24,Contract Analysis Interactive Corporation,2016-07-24 13:48:03.157886,iPad,12,751.27
67,Jeromy,1971-09-02,Data International,2016-07-06 13:48:03.157905,Rubik’s Cube,41,17.08
68,Weldon,1953-03-17,Network Application Co,2016-07-01 13:48:03.157924,iPhone,6,541.54
69,Jeannette,1983-08-09,Technology International,2016-07-19 13:48:03.157945,Lipitor,20,10.84
70,Leigh,1993-08-01,South Consulting Corporation,2016-07-18 13:48:03.157964,Lipitor,16,11.90
71,Alecia,1984-02-11,Internet Hill Studio Incorporated,2016-07-07 13:48:03.157982,Star Wars,9,9.77
72,Neva,1996-05-27,Design Agency,2016-07-17 13:48:03.158002,iPhone,6,515.40
73,Damaris,1984-06-01,North Innovation Vision Inc,2016-07-26 13:48:03.158021,Rubik’s Cube,42,17.38
74,Kathleen,1977-07-09,East Agency,2016-07-23 13:48:03.158040,Rubik’s Cube,21,15.38
75,Shiela,1976-03-28,North Incorporated,2016-07-11 13:48:03.158059,iPad,47,926.10
76,Ellsworth,1979-03-18,Application Systems Group,2016-07-11 13:48:03.158077,banana,46,10.00
77,Jimmie,1965-06-04,Star Limited,2016-07-15 13:48:03.158096,banana,29,10.00
78,Sharla,1971-05-15,Net Limited,2016-07-22 13:48:03.158114,iPhone,6,842.26
79,Shawn,1980-07-14,Universal Frontier Adventure Corporation,2016-07-12 13:48:03.158134,Rubik’s Cube,44,18.10
80,Autumn,1970-04-02,Frontier Corporation,2016-07-22 13:48:03.158152,Harry Potter book,48,34.31
81,Wendy,1964-07-23,Future Net LLC,2016-07-22 13:48:03.158170,Harry Potter book,29,25.35
82,Jamaal,1983-06-22,Data Industries Organization,2016-07-12 13:48:03.158189,PlayStation,33,296.89
83,Gerri,1996-09-20,Consulting Direct Data LLC,2016-07-27 13:48:03.158208,banana,47,10.00
84,Louisa,1986-01-29,Omega Incorporated,2016-07-25 13:48:03.158226,Lipitor,5,10.93
85,Gracie,1974-05-03,Telecom Pacific Universal Organization,2016-07-15 13:48:03.158245,banana,24,10.00
86,Cory,1987-03-24,Virtual Signal Innovation Inc,2016-07-11 13:48:03.158263,Lipitor,45,10.50
87,Niki,1975-04-12,Network General Federated Industries,2016-07-19 13:48:03.158282,banana,21,10.00
88,Maritza,1985-05-09,Max Technology Incorporated,2016-07-04 13:48:03.158300,Thriller record,26,14.35
89,Benton,1980-05-06,Star Data Incorporated,2016-07-03 13:48:03.158320,Harry Potter book,46,13.45
90,Jannette,1973-09-10,Architecture Technology Solutions Corporation,2016-07-12 13:48:03.158339,Lipitor,20,11.03
91,Franklyn,1956-09-15,Star East South LLC,2016-07-20 13:48:03.158357,PlayStation,27,260.68
92,Catina,1987-05-21,People LLC,2016-07-12 13:48:03.158376,iPad,45,737.98
93,Gracie,1978-05-07,Resource Virtual Limited,2016-07-04 13:48:03.158395,iPhone,32,895.65
94,Shelli,1973-05-14,People Systems Industries,2016-07-19 13:48:03.158413,Lipitor,22,10.41
95,Bette,1989-11-14,People Group,2016-07-15 13:48:03.158432,PlayStation,44,214.41
96,Chang,1984-02-05,Venture Alpha Corporation,2016-07-04 13:48:03.158451,iPhone,46,690.25
97,Craig,1960-06-24,Telecom Digital Organization,2016-07-13 13:48:03.158472,Thriller record,21,17.06
98,Olive,1980-09-13,Data Building Corporation,2016-07-24 13:48:03.158493,banana,14,10.00
99,Retha,1963-06-17,Hill Net Building Agency,2016-07-15 13:48:03.158512,Thriller record,44,15.89
100,Wayne,1992-09-10,East Application Contract Inc,2016-07-06 13:48:03.158531,Corolla,40,24488.05
101,Erna,1968-06-05,Bell Star Corporation,2016-07-23 13:48:03.158550,Rubik’s Cube,17,16.87
102,Jesica,1987-08-15,Network Solutions Group,2016-07-03 13:48:03.158569,iPhone,3,570.67
103,Fernando,1979-06-27,Building Research Venture Organization,2016-07-03 13:48:03.158588,iPhone,11,412.59
104,Eva,1984-01-22,Federated Provider Star Agency,2016-07-19 13:48:03.158606,iPhone,1,763.06
105,Edwina,1986-11-04,Pacific Organization,2016-07-10 13:48:03.158625,Star Wars,46,11.06
106,Melodie,1952-01-20,Source Atlantic Speed LLC,2016-07-14 13:48:03.158644,Thriller record,38,17.04
107,Soon,1977-07-31,Advanced Limited,2016-07-15 13:48:03.158663,Corolla,36,22150.04
108,Pasquale,1959-07-26,Max Vision Limited,2016-07-03 13:48:03.158682,Harry Potter book,5,11.21
109,Dena,1982-01-16,Source Agency,2016-07-15 13:48:03.158700,Star Wars,40,10.57
110,Johnathon,1968-07-28,Advanced Incorporated,2016-06-30 13:48:03.158719,Harry Potter book,6,19.19
111,Perla,1982-09-10,Innovation Alpha LLC,2016-07-05 13:48:03.158737,Thriller record,37,9.92
112,Jimmy,1957-06-21,Net Power Co,2016-07-16 13:48:03.158755,Harry Potter book,11,9.67
113,Faustino,1980-02-04,Analysis Limited,2016-07-26 13:48:03.158774,iPad,29,962.59
114,Jannette,1973-09-10,Architecture Technology Solutions Corporation,2016-07-26 13:48:03.158792,Harry Potter book,39,22.56
115,Ethan,1952-12-08,Application Industries,2016-07-13 13:48:03.158810,iPad,16,707.41
116,Bennie,1978-07-13,Alpha Software Pacific Organization,2016-07-27 13:48:03.158828,Rubik’s Cube,39,18.19
117,Dana,1984-07-11,Net Speed Interactive Incorporated,2016-07-04 13:48:03.158847,iPhone,14,704.96
118,Danny,1978-01-24,Omega Star Agency,2016-07-19 13:48:03.158865,Thriller record,5,18.62
119,Mack,1984-05-14,Data Virtual Industries,2016-07-13 13:48:03.158883,banana,13,10.00
120,Eli,1982-11-21,Direct Net Group,2016-07-28 13:48:03.158902,banana,36,10.00
121,Jerald,1978-07-07,Star Adventure Group,2016-06-30 13:48:03.158920,banana,32,10.00
122,Dorian,1985-03-25,Medicine Limited,2016-07-03 13:48:03.158939,iPhone,47,549.29
123,Cori,1986-11-05,Signal Industries,2016-07-17 13:48:03.158957,Thriller record,27,11.53
124,Reuben,1979-04-26,Construction Technology Venture International,2016-07-06 13:48:03.158976,iPhone,20,550.49
125,Esther,1982-05-23,Universal Electronic International,2016-07-26 13:48:03.158995,iPhone,13,872.64
126,Shellie,1953-08-09,Studio Corporation,2016-07-06 13:48:03.159013,Thriller record,8,12.06
127,Carissa,1970-03-14,Galaxy Co,2016-07-26 13:48:03.159032,banana,42,10.00
128,Edmond,1987-05-03,Digital Application People Corporation,2016-07-08 13:48:03.159051,Corolla,16,20939.36
129,Freddie,1981-09-11,General Limited,2016-07-01 13:48:03.159070,Thriller record,35,14.75
130,Aurora,1977-09-23,Design Resource Future Inc,2016-07-24 13:48:03.159089,Lipitor,46,10.27
131,Opal,1981-02-10,South Frontier Bell Limited,2016-07-07 13:48:03.159108,Star Wars,29,8.03
132,Damaris,1984-06-01,North Innovation Vision Inc,2016-07-06 13:48:03.159129,Lipitor,15,10.76
133,Edmundo,1985-06-06,Internet Building General LLC,2016-07-12 13:48:03.159149,iPhone,12,402.77
134,Horace,1975-10-11,Medicine International,2016-07-07 13:48:03.159167,iPad,33,655.49
135,Edmundo,1985-06-06,Internet Building General LLC,2016-07-24 13:48:03.159185,iPhone,18,656.18
136,Mindy,1959-10-06,Pacific Vision Electronics Co,2016-07-13 13:48:03.159204,Lipitor,41,10.54
137,Wayne,1992-09-10,East Application Contract Inc,2016-07-17 13:48:03.159222,Rubik’s Cube,38,18.01
138,Ismael,1982-06-18,Resource Innovation Application Agency,2016-07-06 13:48:03.159241,iPad,29,964.42
139,Wilmer,1983-01-27,Federated Analysis Interactive LLC,2016-07-16 13:48:03.159260,Thriller record,20,15.55
140,Amber,1981-02-07,Provider Limited,2016-07-12 13:48:03.159278,Star Wars,12,9.89
141,Leanne,1993-05-14,Technology Limited,2016-07-09 13:48:03.159296,Thriller record,42,11.33
142,Horace,1975-10-11,Medicine International,2016-07-23 13:48:03.159314,iPhone,9,543.78
143,Leanne,1993-05-14,Technology Limited,2016-07-25 13:48:03.159333,Star Wars,12,10.62
144,Tuan,1980-05-25,Universal Adventure Max International,2016-07-28 13:48:03.159351,PlayStation,18,287.55
145,Scott,1969-06-12,Frontier Inc,2016-07-21 13:48:03.159370,banana,43,10.00
146,Lucia,1967-10-17,Industries Max Organization,2016-07-10 13:48:03.159389,Corolla,11,20182.19
147,Giuseppe,1982-01-11,Hardware Speed Corporation,2016-07-10 13:48:03.159410,iPhone,21,835.61
148,Elena,1983-04-13,General Max Organization,2016-07-01 13:48:03.159429,Lipitor,39,11.11
149,Benton,1980-05-06,Star Data Incorporated,2016-07-24 13:48:03.159447,Star Wars,32,10.76
150,Jerrod,1979-06-01,Design Solutions Corporation,2016-07-08 13:48:03.159472,Star Wars,2,11.20
151,Emery,1981-04-17,Net Electronics Venture LLC,2016-06-30 13:48:03.159493,iPhone,6,475.95
152,Dorian,1985-03-25,Medicine Limited,2016-07-22 13:48:03.159512,Star Wars,9,9.78
153,Marcia,1952-10-17,Graphics Systems Corporation,2016-07-06 13:48:03.159530,PlayStation,23,233.43
154,Olive,1980-09-13,Data Building Corporation,2016-07-09 13:48:03.159549,Corolla,20,21298.55
155,Elwood,1955-10-10,Solutions Innovation Co,2016-07-11 13:48:03.159567,PlayStation,33,248.07
156,Lenora,1998-03-27,Electronic Advanced Agency,2016-07-14 13:48:03.159586,PlayStation,45,286.45
157,Ladonna,1974-12-14,West Building Digital Limited,2016-07-26 13:48:03.159604,Corolla,36,20458.97
158,Antonio,1987-01-24,Contract Analysis Interactive Corporation,2016-07-07 13:48:03.159622,PlayStation,6,261.18
159,Joanne,1998-07-12,Hardware Studio Contract LLC,2016-07-23 13:48:03.159641,Rubik’s Cube,29,17.29
160,Darrel,1978-02-15,South Agency,2016-07-21 13:48:03.159659,iPad,3,632.33
161,Roderick,1973-06-14,Network Industries,2016-07-11 13:48:03.159678,banana,30,10.00
162,Edmond,1987-05-03,Digital Application People Corporation,2016-07-22 13:48:03.159696,Lipitor,30,11.23
163,Patti,1992-03-30,Atlantic Frontier Studio Industries,2016-07-20 13:48:03.159715,Corolla,9,24470.91
164,Tasha,1983-01-04,Interactive Internet Incorporated,2016-06-30 13:48:03.159734,Harry Potter book,9,10.65
165,Craig,1960-06-24,Telecom Digital Organization,2016-07-02 13:48:03.159752,Thriller record,48,16.60
166,Cori,1986-11-05,Signal Industries,2016-07-09 13:48:03.159771,Corolla,20,20649.66
167,Cori,1986-11-05,Signal Industries,2016-07-15 13:48:03.159789,Corolla,33,21030.96
168,Ron,1978-12-13,Vision Inc,2016-07-14 13:48:03.159808,Lipitor,18,10.67
169,Giuseppe,1982-01-11,Hardware Speed Corporation,2016-07-16 13:48:03.159827,Star Wars,50,10.89
170,Shellie,1953-08-09,Studio Corporation,2016-07-24 13:48:03.159847,PlayStation,7,267.00
171,Hank,1987-05-24,Max Hill Corporation,2016-07-04 13:48:03.159866,Star Wars,25,10.07
172,Benito,1974-04-11,Star Organization,2016-07-27 13:48:03.159884,Corolla,15,22366.86
173,Madge,1972-02-04,Frontier Alpha Future Co,2016-07-27 13:48:03.159903,Thriller record,2,13.75
174,Waylon,1985-08-01,Digital East Virtual Group,2016-07-26 13:48:03.159943,banana,45,10.00
175,Kieth,1984-05-11,People Industries,2016-06-30 13:48:03.159964,iPad,44,335.84
176,Saundra,1990-04-20,Internet Inc,2016-07-12 13:48:03.159998,Corolla,1,22232.01
177,Rolland,1971-05-25,Vision Limited,2016-07-17 13:48:03.160017,Rubik’s Cube,46,16.83
178,Carmelo,1982-04-07,Max Future Net Group,2016-07-04 13:48:03.160035,banana,35,10.00
179,Daphne,1967-10-17,West Solutions Limited,2016-07-17 13:48:03.160053,iPhone,28,570.40
180,Jonathan,1986-09-11,Research Industries,2016-07-18 13:48:03.160072,Thriller record,29,15.64
181,Ethan,1979-10-06,Internet Incorporated,2016-07-16 13:48:03.160091,banana,1,10.00
182,Isreal,1979-06-24,Pacific International,2016-07-08 13:48:03.160109,iPad,11,999.96
183,Lemuel,1985-09-01,Analysis Graphics Provider Incorporated,2016-07-02 13:48:03.160128,PlayStation,9,252.94
184,Vickie,1980-05-29,Source Industries Alpha Co,2016-07-27 13:48:03.160146,iPad,27,770.55
185,Maritza,1985-05-09,Max Technology Incorporated,2016-07-15 13:48:03.160165,Corolla,39,23904.60
186,Johnathon,1968-07-28,Advanced Incorporated,2016-07-10 13:48:03.160183,Lipitor,38,11.80
187,Benton,1977-02-21,Max Network LLC,2016-07-26 13:48:03.160201,Star Wars,42,11.65
188,Margot,1982-03-11,Power Signal Vision Group,2016-07-19 13:48:03.160219,Corolla,42,22008.19
189,Horace,1975-10-11,Medicine International,2016-07-06 13:48:03.160239,Thriller record,20,13.53
190,Edmond,1987-05-03,Digital Application People Corporation,2016-07-15 13:48:03.160257,banana,40,10.00
191,Alfredo,1990-03-01,Power Limited,2016-07-03 13:48:03.160276,PlayStation,11,263.17
192,Christen,1973-08-23,Max West Signal Group,2016-07-21 13:48:03.160294,banana,26,10.00
193,Edward,1974-11-16,Analysis Technology LLC,2016-07-17 13:48:03.160313,Star Wars,33,9.96
194,Maximo,1970-11-19,Vision Direct Electronics Group,2016-07-08 13:48:03.160332,Harry Potter book,20,21.49
195,Annette,1976-03-24,East People Co,2016-07-24 13:48:03.160352,Rubik’s Cube,10,15.75
196,Erna,1968-06-05,Bell Star Corporation,2016-07-05 13:48:03.160371,Lipitor,49,11.22
197,Leroy,1967-11-19,Architecture Organization,2016-07-07 13:48:03.160392,iPad,5,849.27
198,Wilmer,1983-01-27,Federated Analysis Interactive LLC,2016-07-24 13:48:03.160411,PlayStation,12,233.10
199,Lacy,1978-07-01,Hill Group,2016-07-07 13:48:03.160430,Star Wars,5,9.73
200,Darron,1971-10-19,Interactive International,2016-07-25 13:48:03.160449,Star Wars,50,9.99
201,Buck,1972-07-09,Frontier Research Technology LLC,2016-07-20 13:48:03.160467,Thriller record,25,10.35
202,Maggie,1959-07-21,Hill People Industries Co,2016-07-12 13:48:03.160486,Star Wars,18,11.88
203,Robbin,1980-12-17,Virtual Resource Inc,2016-07-22 13:48:03.160505,Corolla,49,23612.86
204,Julian,1980-12-14,Bell Inc,2016-07-28 13:48:03.160524,iPhone,18,494.52
205,Garth,1983-12-02,Design Agency,2016-07-22 13:48:03.160542,Star Wars,42,8.35
206,Tara,1996-03-27,Construction Adventure Innovation Limited,2016-07-11 13:48:03.160561,iPad,47,878.42
207,Edward,1974-11-16,Analysis Technology LLC,2016-06-30 13:48:03.160580,PlayStation,26,263.15
208,Demarcus,1982-02-21,Speed West Network International,2016-07-23 13:48:03.160599,Thriller record,41,10.49
209,Jannette,1973-09-10,Architecture Technology Solutions Corporation,2016-07-04 13:48:03.160618,Star Wars,41,9.71
210,Leanne,1993-05-14,Technology Limited,2016-07-10 13:48:03.160637,Rubik’s Cube,30,17.61
211,Fernando,1979-06-27,Building Research Venture Organization,2016-07-18 13:48:03.160655,Harry Potter book,35,7.34
212,Tara,1996-03-27,Construction Adventure Innovation Limited,2016-07-24 13:48:03.160673,Star Wars,13,10.22
213,Pablo,1964-04-14,Industries Power Net Agency,2016-07-17 13:48:03.160691,Rubik’s Cube,36,15.99

In [6]:
pd.reset_option('display.max_rows')

#### Let's see what we have got now

In [7]:
type(sales_data)

pandas.core.frame.DataFrame

In [8]:
len(sales_data)

1000

#### Inspect your DataFrame with pandas methods

In [9]:
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.156566,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.156596,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.156618,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.156638,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.156657,Harry Potter book,4,25.69

In [10]:
sales_data.tail(5)

,name,birthday,customer,orderdate,product,units,unitprice
995,Ethan,1952-12-08,Application Industries,2016-07-21 13:48:03.177885,Harry Potter book,39,24.40
996,Rudolph,1959-10-15,Network Software West Inc,2016-07-19 13:48:03.177903,Rubik’s Cube,9,15.11
997,Annmarie,1982-06-04,Atlantic Corporation,2016-07-13 13:48:03.177924,Thriller record,19,9.16
998,Chang,1984-02-05,Venture Alpha Corporation,2016-07-13 13:48:03.177943,Harry Potter book,24,28.21
999,Ervin,1977-10-14,Provider Agency,2016-07-09 13:48:03.177962,iPhone,39,663.83

In [11]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name         1000 non-null object
birthday     1000 non-null object
customer     1000 non-null object
orderdate    1000 non-null object
product      1000 non-null object
units        1000 non-null int64
unitprice    1000 non-null float64
dtypes: float64(1), int64(1), object(5)
memory usage: 54.8+ KB

**note: floats and ints were detected automatically but date(time) are still strings objects**

* *columns*
* count rows
* data types (numpy)
* memenory used

**`Strings`** are stored in **`pandas`** as **`object`**!

In [ ]:
?pd.read_csv

**`pandas.read_csv`** has more than 50 parameters to customize imports.

For example dates can be parsed automatically.

> **`parse_dates`** a list of columns to parse for dates.

This is only one of multiple options to customize imports.

In [12]:
sales_data = pd.read_csv('../data/blooth_sales_data.csv',
                         parse_dates=['birthday', 'orderdate']
                        )
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
name         1000 non-null object
birthday     1000 non-null datetime64[ns]
customer     1000 non-null object
orderdate    1000 non-null datetime64[ns]
product      1000 non-null object
units        1000 non-null int64
unitprice    1000 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 54.8+ KB

In [13]:
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.156566,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.156596,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.156618,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.156638,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.156657,Harry Potter book,4,25.69

The auto date parser is US date friendly by default -> month first! MM/DD/YYYY add *dayfirst=True* for international and European format.

In [14]:
sales_data = pd.read_csv('../data/blooth_sales_data.csv',
                         parse_dates=['birthday', 'orderdate'],
                         dayfirst=True)
sales_data.head(5)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.156566,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.156596,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.156618,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.156638,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.156657,Harry Potter book,4,25.69

**!** The date parse is US datew friendly! *MM/DD/YYYY*

To use the more common international format for sure,<br>
add 
>**`dayfirst=True`**

The CSV import may be highly customized, <br>e.g.:

* `date_parser` - which columns to parse.
* `compression` - `pandas` hint compression of file, default: `infer`- auto discovery
* `delimiter` - delimiter
* `thousands`, `decimal` - thousands or decimal character
* `encoding` - encoding of the file
* `dtype`- target data type of column(s)
* `header`- header number(s)
* `skipfooter`- do not import the footer (e.g. summary line)

### Excercise

Repeat what you just have learned above:
* `.head()`

In [ ]:
# your code here

In [4]:
# %load ../solutions/101.py
sales_data.head(7)

* `.tail()`

In [19]:
# your code here

In [5]:
# %load ../solutions/102.py
sales_data.tail(27)

* `.info()`

In [21]:
# your code here

In [ ]:
%load ../solutions/103.py

Read the file 'blooth_sales_data_2.csv' from the directory *data* and save it to a variable called *data2*.

In [ ]:
# your code here

In [7]:
# %load ../solutions/104.py
data2 = pd.read_csv('../data/blooth_sales_data_2.csv')
data2.head()

                                                    name;birthday;customer;orderdate;product;units;unitprice
Renita;1992-09-30;Industries International;2016...                                                 74
Dominick;1979-07-26;Solutions Co;2016-10-09 09:...                                                  0
Sasha;1986-05-08;Power LLC;2016-10-19 09:14:17....                                                 58
Duncan;1958-07-04;Research Net Co;2016-10-09 09...                                                 93
Frederick;1983-07-24;Building Max East Inc;2016...                                                 73

Use the parameters on import to make the import in a useful format

In [ ]:
# your code here

In [9]:
# %load ../solutions/105.py
data2 = pd.read_csv('../data/blooth_sales_data_2.csv', sep=';', decimal=',', parse_dates=['birthday', 'orderdate'])
data2.head()

,name,birthday,customer,orderdate,product,units,unitprice
0,Renita,1992-09-30,Industries International,2016-10-07 09:14:17.476376,Harry Potter book,44,17.74
1,Dominick,1979-07-26,Solutions Co,2016-10-09 09:14:17.476409,banana,33,10.00
2,Sasha,1986-05-08,Power LLC,2016-10-19 09:14:17.476433,Harry Potter book,39,15.58
3,Duncan,1958-07-04,Research Net Co,2016-10-09 09:14:17.476455,Corolla,48,24609.93
4,Frederick,1983-07-24,Building Max East Inc,2016-10-09 09:14:17.476476,Rubik’s Cube,21,16.73

In [10]:
# check your import using .info()
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
name         2345 non-null object
birthday     2345 non-null datetime64[ns]
customer     2345 non-null object
orderdate    2345 non-null datetime64[ns]
product      2345 non-null object
units        2345 non-null int64
unitprice    2345 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 128.3+ KB

### JSON

In [15]:
sales_data_json = pd.read_json('../data/blooth_sales_data.json')
sales_data_json.head(5)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49
3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02 08:21:20.544643,Thriller record,16.77,48
4,1984-12-14,Frontier Inc,Nikita,2016-10-16 08:21:20.544666,Harry Potter book,5.65,4

In [16]:
sales_data_json = pd.read_json('../data/blooth_sales_data.json')
sales_data_json.head(5)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49
3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02 08:21:20.544643,Thriller record,16.77,48
4,1984-12-14,Frontier Inc,Nikita,2016-10-16 08:21:20.544666,Harry Potter book,5.65,4

In [17]:
sales_data_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
birthday     2345 non-null object
customer     2345 non-null object
name         2345 non-null object
orderdate    2345 non-null object
product      2345 non-null object
unitprice    2345 non-null float64
units        2345 non-null int64
dtypes: float64(1), int64(1), object(5)
memory usage: 128.3+ KB

**The JSON is not correctly formatted for datetime!**, should be ISO 8601 "YYYY-MM-DDTHH:MM:SS.NNNZ" e.g. 2012-04-23T18:25:43.511Z

One approach to slove it: read the json and create the DataFrame from a a list of dictionaries.

In [18]:
import json
with open('../data/blooth_sales_data.json', 'r') as f:
    _json = json.load(f)
_json[0]

{'birthday': '1974-01-07',
 'customer': 'Frontier Industries',
 'name': 'Ernesto',
 'orderdate': '2016-10-06 08:21:20.544568',
 'product': 'Star Wars',
 'unitprice': 11.81,
 'units': 27}

In [19]:
import datetime
for j in _json:
    j['orderdate'] = datetime.datetime.strptime(j['orderdate'], "%Y-%m-%d %H:%M:%S.%f").strftime("%Y-%m-%dT%H:%M:%SZ")
    j['birthday'] = datetime.datetime.strptime(j['birthday'], "%Y-%m-%d")
_json[0]

{'birthday': datetime.datetime(1974, 1, 7, 0, 0),
 'customer': 'Frontier Industries',
 'name': 'Ernesto',
 'orderdate': '2016-10-06T08:21:20Z',
 'product': 'Star Wars',
 'unitprice': 11.81,
 'units': 27}

In [20]:
sales_data_from_dict = pd.DataFrame(_json)
sales_data_from_dict.head(5)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06T08:21:20Z,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30T08:21:20Z,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05T08:21:20Z,banana,10.00,49
3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02T08:21:20Z,Thriller record,16.77,48
4,1984-12-14,Frontier Inc,Nikita,2016-10-16T08:21:20Z,Harry Potter book,5.65,4

In [21]:
sales_data_from_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
birthday     2345 non-null datetime64[ns]
customer     2345 non-null object
name         2345 non-null object
orderdate    2345 non-null object
product      2345 non-null object
unitprice    2345 non-null float64
units        2345 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 128.3+ KB

In [22]:
with open('../data/blooth_sales_data.json', 'r') as f:
    _json = json.load(f)
for j in _json:
    j['orderdate'] = datetime.datetime.strptime(j['orderdate'], "%Y-%m-%d %H:%M:%S.%f")
    j['birthday'] = datetime.datetime.strptime(j['birthday'], "%Y-%m-%d")
sales_data_from_dict = pd.DataFrame(_json)
sales_data_from_dict.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
birthday     2345 non-null datetime64[ns]
customer     2345 non-null object
name         2345 non-null object
orderdate    2345 non-null datetime64[ns]
product      2345 non-null object
unitprice    2345 non-null float64
units        2345 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 128.3+ KB

Probaly more efficient:

In [23]:
sales_data_json = pd.read_json('../data/blooth_sales_data.json',
                              convert_dates=['birthday', 'orderdate']
                              )
sales_data_json.head(5)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49
3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02 08:21:20.544643,Thriller record,16.77,48
4,1984-12-14,Frontier Inc,Nikita,2016-10-16 08:21:20.544666,Harry Potter book,5.65,4

In [24]:
sales_data_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2345 entries, 0 to 2344
Data columns (total 7 columns):
birthday     2345 non-null datetime64[ns]
customer     2345 non-null object
name         2345 non-null object
orderdate    2345 non-null datetime64[ns]
product      2345 non-null object
unitprice    2345 non-null float64
units        2345 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(1), object(3)
memory usage: 128.3+ KB

In [25]:
sales_data_json.describe()

          unitprice        units
count   2345.000000  2345.000000
mean    2329.681343    25.808102
std     6582.327614    14.474110
min        5.010000     1.000000
25%       10.660000    13.000000
50%       17.850000    26.000000
75%      489.940000    39.000000
max    24895.630000    50.000000

In [26]:
sales_data.head(100000000)

,name,birthday,customer,orderdate,product,units,unitprice
0,Pasquale,1967-09-02,Electronics Inc,2016-07-17 13:48:03.156566,Thriller record,2,13.27
1,India,1968-12-13,Electronics Resource Group,2016-07-06 13:48:03.156596,Corolla,26,24458.69
2,Wayne,1992-09-10,East Application Contract Inc,2016-07-22 13:48:03.156618,Rubik’s Cube,41,15.79
3,Cori,1986-11-05,Signal Industries,2016-07-23 13:48:03.156638,iPhone,16,584.01
4,Chang,1972-04-23,Star Alpha Industries,2016-07-16 13:48:03.156657,Harry Potter book,4,25.69
5,Weldon,1953-03-17,Network Application Co,2016-07-22 13:48:03.156678,Lipitor,1,11.22
6,Sung,1977-10-23,Omega Pacific Future Incorporated,2016-07-09 13:48:03.156698,PlayStation,25,294.90
7,Emily,1982-07-02,Medicine Incorporated,2016-07-16 13:48:03.156717,Thriller record,5,18.27
8,Cornell,1963-07-02,Technology Direct Star Limited,2016-07-08 13:48:03.156735,Rubik’s Cube,35,15.98
9,Ervin,1977-10-14,Provider Agency,2016-07-19 13:48:03.156754,Star Wars,24,11.50
10,Odis,1985-07-05,Technology International,2016-07-15 13:48:03.156772,Star Wars,27,8.09
11,Cornell,1963-07-02,Technology Direct Star Limited,2016-07-20 13:48:03.156791,iPad,12,368.98
12,Kelli,1982-05-10,Building Construction Group,2016-07-13 13:48:03.156810,Corolla,43,24870.63
13,Rosalina,1967-10-24,Software Group,2016-07-09 13:48:03.156829,PlayStation,43,242.63
14,Tracy,1984-11-29,Hill Pacific Analysis Co,2016-07-22 13:48:03.156847,iPad,41,646.14
15,Marion,1962-12-04,Virtual Limited,2016-07-11 13:48:03.156866,Corolla,7,23570.41
16,Doretha,1969-08-08,Industries Systems Bell Group,2016-06-30 13:48:03.156885,Star Wars,9,11.85
17,Zelma,1984-01-14,Medicine Inc,2016-07-06 13:48:03.156909,PlayStation,15,290.46
18,Galen,1992-02-02,Construction Data Agency,2016-07-13 13:48:03.156959,Thriller record,8,18.64
19,Marcia,1952-10-17,Graphics Systems Corporation,2016-07-15 13:48:03.156996,Harry Potter book,20,26.79
20,Alaina,1984-05-30,Advanced Resource LLC,2016-07-26 13:48:03.157014,Harry Potter book,26,33.48
21,Leigh,1993-08-01,South Consulting Corporation,2016-07-10 13:48:03.157033,PlayStation,11,265.01
22,Larry,1980-10-15,Atlantic Incorporated,2016-07-10 13:48:03.157053,Rubik’s Cube,17,15.90
23,Chet,1980-12-18,Vision Speed International,2016-07-15 13:48:03.157071,iPhone,44,500.83
24,Lottie,1981-08-08,Building Research Frontier LLC,2016-07-02 13:48:03.157090,Rubik’s Cube,17,18.07
25,Elyse,1982-12-24,General Corporation,2016-07-09 13:48:03.157109,Harry Potter book,22,17.07
26,Ron,1978-12-13,Vision Inc,2016-07-11 13:48:03.157130,PlayStation,13,206.32
27,Robbin,1979-12-01,Interactive Net LLC,2016-07-15 13:48:03.157151,Corolla,18,22280.90
28,Dana,1984-07-11,Net Speed Interactive Incorporated,2016-06-30 13:48:03.157170,Corolla,44,20103.97
29,Anton,1973-03-26,Universal Application Speed Inc,2016-07-09 13:48:03.157188,PlayStation,37,260.43
...,...,...,...,...,...,...,...
970,Giuseppe,1982-01-11,Hardware Speed Corporation,2016-07-08 13:48:03.177384,Lipitor,18,11.49
971,Lemuel,1985-09-01,Analysis Graphics Provider Incorporated,2016-07-07 13:48:03.177403,Rubik’s Cube,44,15.73
972,Cori,1986-11-05,Signal Industries,2016-07-12 13:48:03.177423,iPhone,30,649.14
973,Arnoldo,1992-05-25,Star General Architecture LLC,2016-07-15 13:48:03.177442,Rubik’s Cube,16,17.01
974,Odis,1985-07-05,Technology International,2016-07-16 13:48:03.177462,PlayStation,31,298.22
975,Madge,1972-02-04,Frontier Alpha Future Co,2016-07-05 13:48:03.177481,Harry Potter book,29,31.92
976,Dong,1970-09-06,Solutions Contract Software Corporation,2016-07-01 13:48:03.177501,PlayStation,45,214.58
977,Elyse,1982-12-24,General Corporation,2016-07-18 13:48:03.177521,Rubik’s Cube,27,18.52
978,Marguerite,1979-08-23,Galaxy Research Corporation,2016-07-19 13:48:03.177540,iPad,13,342.89
979,Odis,1985-07-05,Technology International,2016-07-05 13:48:03.177559,Harry Potter book,43,9.15
980,Arnoldo,1992-05-25,Star General Architecture LLC,2016-07-23 13:48:03.177579,iPhone,19,878.79
981,Dena,1982-01-16,Source Agency,2016-07-11 13:48:03.177599,Rubik’s Cube,3,15.09
982,Tristan,1968-03-02,Galaxy Architecture Systems Corporation,2016-07-21 13:48:03.177619,iPad,29,980.17
983,Darron,1971-10-19,Interactive International,2016-07-01 13:48:03.177639,Corolla,50,22776.03
984,Kasey,1967-10-23,Solutions Star Max Incorporated,2016-07-14 13:48:03.177658,Star Wars,6,11.71
985,Orlando,1976-06-10,Source LLC,2016-07-16 13:48:03.177678,Harry Potter book,39,11.01
986,Mitzi,1978-06-28,Design Solutions Co,2016-07-13 13:48:03.177698,iPad,46,333.48
987,Rudolph,1959-10-15,Network Software West Inc,2016-07-21 13:48:03.177719,Thriller record,28,12.20
988,Benito,1974-04-11,Star Organization,2016-07-18 13:48:03.177752,Star Wars,8,10.06
989,Marion,1962-12-04,Virtual Limited,2016-07-04 13:48:03.177770,Harry Potter book,6,28.09
990,Mayra,1985-03-06,Building Power Advanced Incorporated,2016-07-06 13:48:03.177791,iPad,35,782.68
991,Carmine,1972-05-25,Graphics Design LLC,2016-07-11 13:48:03.177810,Lipitor,22,10.38
992,Gayle,1980-07-15,Internet Power International,2016-07-07 13:48:03.177829,iPad,40,875.16
993,Lemuel,1985-09-01,Analysis Graphics Provider Incorporated,2016-07-13 13:48:03.177848,banana,19,10.00
994,Maggie,1959-07-21,Hill People Industries Co,2016-07-10 13:48:03.177866,Lipitor,27,10.07
995,Ethan,1952-12-08,Application Industries,2016-07-21 13:48:03.177885,Harry Potter book,39,24.40
996,Rudolph,1959-10-15,Network Software West Inc,2016-07-19 13:48:03.177903,Rubik’s Cube,9,15.11
997,Annmarie,1982-06-04,Atlantic Corporation,2016-07-13 13:48:03.177924,Thriller record,19,9.16
998,Chang,1984-02-05,Venture Alpha Corporation,2016-07-13 13:48:03.177943,Harry Potter book,24,28.21
999,Ervin,1977-10-14,Provider Agency,2016-07-09 13:48:03.177962,iPhone,39,663.83

### Working with Excel

In [28]:
sales_data_excel = pd.read_excel('../data/blooth_sales_data.xlsx',
                                usecols='A:B')
sales_data_excel.head(5)

       name   birthday
0  Pasquale 1967-09-02
1     India 1968-12-13
2     Wayne 1992-09-10
3      Cori 1986-11-05
4     Chang 1972-04-23

In [29]:
sales_data_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
name        1000 non-null object
birthday    1000 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 15.7+ KB

#### Exporting to Excel

In [30]:
sales_data_json.head(3)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49

In [31]:
sales_data_json.to_excel('../data/sales_data_json_exported.xlsx', 
                         index=False, 
                         sheet_name='Sales Data')
# ! make sure the .ext is correct - used to determine the export engine

**Example: Exporting bto Excel is very powerful when using the *xlsxwriter engine***

![title](../pic/xlsxwriterexample.png)

For more see: http://xlsxwriter.readthedocs.io

### Reading from the Clipboard

In [48]:
# put this in your clipboard
sales_data_json.head(5)

,birthday,customer,name,orderdate,product,unitprice,units
0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49
3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02 08:21:20.544643,Thriller record,16.77,48
4,1984-12-14,Frontier Inc,Nikita,2016-10-16 08:21:20.544666,Harry Potter book,5.65,4

In [49]:
sales_from_clipboard = pd.read_clipboard()
sales_from_clipboard.head(5)

,0,1974-01-07,Frontier Industries,Ernesto,2016-10-06 08:21:20.544568,Star Wars,11.81,27
0,1,1986-02-05,Bell Telecom Limited,Queen,2016-09-30 08:21:20.544599,PlayStation,284.71,1
1,2,1982-07-06,Software Co,Reid,2016-10-05 08:21:20.544622,banana,10.00,49
2,3,1971-04-12,Data Design Galaxy Co,Arlene,2016-10-02 08:21:20.544643,Thriller record,16.77,48
3,4,1984-12-14,Frontier Inc,Nikita,2016-10-16 08:21:20.544666,Harry Potter book,5.65,4

### Summary

* reading and writing data is simple with Pandas
* very customizable imports
* the many options can be overwhelming for beginners - be patient with yourself
* a lot of the handling is done by Pandas by default, e.g.:
    * header
    * datatype (int/float, but not datetime)
    * skipping blank lines
    * …
* data cleansing (datetime example above) can also be done in pandas directly, we'll see later.
* exporting data is simple,…
* caveats:
    * Columns with NaN values become floats

End of our light warm-up.